<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @granitecolor.name %>
</p>

<p>
  <strong>URL:</strong>
  <%= @granitecolor.url %>
</p>


<%= link_to 'Edit', edit_granitecolor_path(@granitecolor) %> |
<%= link_to 'Back', granitecolors_path %>
