<%= form_for @countertop do |f| %>
 <% if @countertop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@countertop.errors.count, "error") %> prohibited this Countertop Project from being saved:</h2>

      <ul>
      <% @countertop.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group" align="left">
    <%= f.label :counterzip, "Tell us where your countertop project is going." %>
    <%= f.text_field :counterzip, class: "form-control", placeholder: "Enter your Zip Code" %>
</div>

<div id="countertype" class="form-group" align="left">
    <%= f.label :countertype_id, "What type of countertop material do you need?" %></br>
    <%= f.collection_select :countertype_id, Countertype.all, :id, :name, { :prompt => "Select Your Material" }, class: "input-sm"  %>
</div>

<div class="form-group", align="left">
    <%= f.label :countersize, "How much countertop do you need?" %>
    <%= f.text_field :countersize, class: "form-control", placeholder: "Enter the amount of countertop you need in square feet" %>
</div>

<div id="layout" align="left" class="form-group" style="display:none;">
    <%= f.label :layout_id, "What is your countertop layout?" %></br>
    <div class="imagebox">
    <%= f.select :layout_id, options_for_select(@layouts.map{ |l| [l.name, l.id, {'data-img-src'=>l.url}]}) %>
  </div>
</div>

<div id="granitecolor" align="left" class="form-group" style="display:none;">
    <%= f.label :granitecolor_id, "What granite color pattern do you want?" %></br>
    <div class="imagebox" style="height:450px; width:80%; overflow:auto;">
    <%= f.select :granitecolor_id, options_for_select(@granitecolors.map{ |g| [g.name, g.id, {'data-img-src'=>g.url}]}) %>
  </div>
</div>

<div id="marblecolor" align="left" class="form-group" style="display:none;">
    <%= f.label :marblecolor_id, "What marble color pattern do you want?" %></br>
    <%= f.select :marblecolor_id, options_for_select(@marblecolors.map{ |m| [m.name, m.id, {'data-img-src'=>m.url}] }) %>
</div>

<div id="soapstonecolor" align="left" class="form-group" style="display:none;">
    <%= f.label :soapstonecolor_id, "What soapstone color pattern do you want?" %></br>
    <%= f.select :soapstonecolor_id, options_for_select(@soapstonecolors.map{ |s| [s.name, s.id, {'data-img-src'=>s.url}] }) %>
</div>

<div id="quartzcolor" align="left" class="form-group" style="display:none;">
    <%= f.label :quartzcolor_id, "What quartz color pattern do you want?" %></br>
    <%= f.select :quartzcolor_id, options_for_select(@quartzcolors.map{ |q| [q.name, q.id, {'data-img-src'=>q.url}] }) %>
</div>

 <div class="form-group">
    <%= f.submit class: "btn btn-primary btn-lg" %>
 </div>

<% end %>


