<p id="notice"><%= notice %></p>



<h1>Index of All Countertop Projects</h1>

<table>
  <thead>
    <tr>
      <th>Zip Code</th>
      <th>Countertop Type</th>
      <th>Size</th>
      <th>Color</th>
     
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @countertops.each do |countertop| %>
      <tr>
        <td><%= countertop.counterzip %></td>
    	  <td><%= countertop.countertype.name if countertop.countertype !=nil %></td>
        <td><%= countertop.countersize %></td>
        <td><%= countertop.granitecolor.name if countertop.granitecolor !=nil %></td>
        <td><%= countertop.marblecolor.name if countertop.marblecolor !=nil %></td>
       
        <td><%= link_to 'Show', countertop %></td>
        <td><%= link_to 'Edit', edit_countertop_path(countertop) %></td>
        <td><%= link_to 'Destroy', countertop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Countertop', new_countertop_path %>

