<p id="notice"><%= notice %></p>

<p>
  <strong>Zip Code:</strong>
  <%= @countertop.counterzip %>
</p>

<p>
  <strong>Counter Type:</strong>
  <%= @countertop.countertype.name %>
</p>

<p>
  <strong>Size:</strong>
  <%= @countertop.countersize %>
</p>

</p>
  <strong>Countertop Color:</strong>
  <%= @countertop.granitecolor.name if @countertop.granitecolor !=nil %>  
  <%= @countertop.marblecolor.name if @countertop.marblecolor !=nil%>
</p>


<%= link_to 'Edit', edit_countertop_path(@countertop) %> |
<%= link_to 'Back', countertops_path %>
